@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    //ViewBag.Title = "Spiderman";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1> @ViewBag.Title</h1>
    </div>
</body>
</html>
